    @model VeterinariaNueva.ViewModel.VMHistorialList

    @{
        ViewData["Title"] = "Clientes";
    }
    
<h4>Historial de turnos del cliente: @ViewBag.Cliente</h4>
    
    <table class="table table-primary table-dark">
        <thead>
            <tr>
                <th>
                    <p>Fecha y hora </p>
                </th>
                <th>
                    <p>Email del cliente</p>
                </th>
                <th>
                    <p>Mascota </p>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Historial)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Turno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Email)
                </td>
                <td>
                    <a asp-action="HistorialMascotas" asp-route-id="@item.Cliente.Id" asp-route-nombreMascota="@item.Mascota.Nombre">
                        @Html.DisplayFor(modelItem => item.Mascota.Nombre)
                    </a>
                </td>
                <td>
                    <a asp-controller="Clientes" asp-action="DeleteMascota" asp-route-id="@item.Mascota.Id_Mascota">
                        ¿Desea borrar la mascota?
                    </a>
                </td>

            </tr>
            }
        </tbody>
    </table>

    <style>
        tbody {
            background: #000000;
        }
    </style>
